<!DOCTYPE html>
<html>
  <head>
    <title>聊天室</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style type="text/css" >
    .content{
    	border: 1px solid #3F3F3F;
    	padding: 10px;
    }
    .input{
    	
    }
    </style>
  </head>
  <script type="text/javascript" src="/socket.io/socket.io.js"></script>
  <body>
  	消息记录
  	<div class="content">
  		
  	</div>
  	<div class="input">
  		num:<%=num%>
  		<input type="text" class="input-value"/>
  		<button onclick="send()">发送</button>
  	</div>
  </body>
  <script type="text/javascript">
  	const socket=io.connect();
  	const list=document.querySelector(".content")
  	function send(){
  		let inputValue=document.querySelector(".input-value").value;
  		console.log("inputValue:",inputValue)
  		socket.emit("say",inputValue);
  	}
  	socket.on('answer',data=>{
  			let pdom=document.createElement("p");
	  		pdom.innerText=data.name+":"+data.content+"("+data.date+")";
	  		list.appendChild(pdom);
  	})
  </script>
</html>
